<h2>List of posts</h2>
<!--<input type="button" value="Add" class="btn btn-default" (click)="" />-->
<!--<table *ngIf="tableMode; else create" class="table table-striped">-->
<table class="table table-striped">
  <thead>
  <tr>
    <td>Title</td>
    <td>Text</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of posts">
<!--    <ng-template [ngIf]="post?.id != p.id" [ngIfElse]="edit">-->
      <td>{{p?.title}}</td>
      <td>{{p?.text}}</td>
      <td>
<!--        <button class="btn btn-sm btn-primary" (click)="editProduct(p)">Изменить</button>-->
<!--        <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>-->
      </td>
  </tr>
  </tbody>
</table>
