<div class="container-theme">

  <div class="container-list">
    <div *ngFor="let t of themes">
      <a (click)="goTheme(t.id)" class="btn btn-sm text-danger">{{t.title}}</a>
    </div>
  </div>

  <div class="container-view">
    <div class="post">
      <div class="header">
        <h1>{{theme.title}}</h1>
        <div>
          <button [routerLink]="['edit']" class="btn btn-sm btn-warning">Edit</button>
          <button  class="btn btn-sm btn-danger">Delete</button>
          <button class="btn btn-sm btn-success back text-light">+</button>
        </div>
      </div>

      <div class="info">
        <strong>Forum</strong>
        <small>{{theme.date}}</small>
      </div>

      <div>
        <quill-view-html [content]="theme.text"></quill-view-html>
      </div>

    </div>
  </div>

</div>

