<div class="container-theme">

  <ul class="container-list">
    <li *ngFor="let t of themes">
      <a (click)="goTheme(t.id)" class="btn btn-sm text-danger font-weight-bold">{{t.title}}</a>
    </li>
    <a (click)="addTheme()" class="btn btn-sm text-success">+</a>
  </ul>

  <div *ngIf="theme !== undefined" class="container-view">
    <div class="post">
      <div class="header">
        <h1>{{theme.title}}</h1>
        <div>
          <button (click)="editTheme(theme.id)" class="btn btn-sm btn-warning">Edit</button>
          <button (click)="deleteTheme(theme.id)" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>

      <div class="info">
        <strong>Forum</strong>
        <small>{{theme.date}}</small>
      </div>

      <div>
        <quill-view-html [content]="theme.text"></quill-view-html>
      </div>

    </div>
  </div>

</div>

<button (click)="scrollToTop()" *ngIf="pageYOffset > 0" class="btn btn-outline-danger scroll-to-top">Up</button>


