<div [formGroup]="form" class="container-auth">

  <h2>SignUp</h2>

  <div [ngClass]="{invalid: form.get('username').touched && form.get('username').invalid}" class="container-small">
    <label><b>Username</b></label>
    <div class="input-custom">
      <input formControlName="username" [(ngModel)]="user.name" type="text" placeholder="Enter username" name="username" required>
    </div>
    <div *ngIf="form.get('username').touched && form.get('username').invalid">
      <small *ngIf="form.get('username').errors.required">Field is empty!</small>
    </div>
  </div>

  <div [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}" class="container-small">
    <label><b>Email</b></label>
    <div class="input-custom">
      <input formControlName="email" [(ngModel)]="user.email" type="email" placeholder="user@gmail.com" name="useremail" required>
    </div>
    <div *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Field is empty!</small>
      <small *ngIf="form.get('email').errors.email">Incorrect email!</small>
    </div>
  </div>


  <div [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}" class="container-small">
    <label><b>Password</b></label>
    <div class="input-custom">
      <input formControlName="password" [(ngModel)]="user.password" type="password" placeholder="Enter password" name="password" required>
    </div>
    <div *ngIf="form.get('password').touched && form.get('password').invalid" >
      <small *ngIf="form.get('password').errors.required">Field is empty!</small>
      <small *ngIf="form.get('password').errors.minlength">Short password!</small>
    </div>
  </div>

  <div [ngClass]="{invalid: form.get('confirmPassword').touched && form.get('confirmPassword').invalid}" class="container-small">
    <label><b>Repeat Password</b></label>
    <div class="input-custom">
      <input formControlName="confirmPassword" type="password" placeholder="Repeat password" name="password" required pattern="{{user.password}}">
    </div>
    <div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').invalid" >
      <small *ngIf="form.get('confirmPassword').errors.required">Field is empty!</small>
      <small *ngIf="form.get('confirmPassword').errors.pattern">Password mismatch!</small>
    </div>
  </div>


</div>

<div>
  <button [disabled]="form.invalid" (click)="signUp()" class="btn btn-sm btn-dark">SignUp</button>
</div>
