<div class="container-auth">

  <h2>SignUp</h2>

  <label><b>Username</b></label>
  <input [(ngModel)]="user.name" type="text" placeholder="Enter username" name="username" required>

  <label><b>Email</b></label>
  <input [(ngModel)]="user.email" type="email" placeholder="user@gmail.com" name="useremail" required>

  <label><b>Password</b></label>
  <input [(ngModel)]="user.password" type="password" placeholder="Enter password" name="password" required>

  <label><b>Repeat Password</b></label>
  <input type="password" placeholder="Repeat password" name="password" required>

</div>

<div class="container-auth-login">
  <button (click)="signUp()" class="btn btn-sm btn-dark">SignUp</button>
</div>
