.container-auth{
  width: 450px;
  display: grid;
  margin-bottom: 0.2rem;
}

button{
  justify-content: right;
}

input{
  margin-bottom: 0.2rem;
}

.container-auth-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-auth-signup{
display: inline-flex;
}
label{
  color: var(--primary-color);
}

small{
  color: var(--danger-color);
}

.container-small{
  margin-bottom: 0.3rem;
}

.input-custom{
  display: grid;
}

