<h1>Hello, world!</h1>
<div>
  <h4>About</h4>
  <p>
    Welcome to my WebForum!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa distinctio dolor, eveniet facilis porro ullam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti eligendi laborum optio quia. A asperiores deleniti dolorem excepturi illo, inventore, ipsum maiores natus odio optio placeat quam quidem voluptatum. Adipisci assumenda, eligendi eum explicabo id illum inventore iure nisi, odio omnis possimus praesentium, quasi tempora tempore temporibus vitae voluptatem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore doloribus necessitatibus nesciunt quisquam sapiente, sit veniam? Aliquam corporis delectus earum ex, expedita explicabo nisi non quaerat quibusdam sapiente vel.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aliquid hic necessitatibus, perferendis vero.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ex minima officiis placeat rerum ullam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque explicabo, odit tempore vero voluptate?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsum, optio pariatur provident repellendus voluptates!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magnam minima omnis soluta tempora, voluptas.
  </p>
</div>

<app-home-rec></app-home-rec>
